<footer class="py-4" style="background-color: #a9d6e5; color: #022e61">
  <div class="container">
    <div class="row align-items-center">
      <!-- Texto del Footer -->
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        &copy; 2024 Todos los derechos reservados
      </div>

      <!-- Redes Sociales -->
      <div class="col-md-6 text-center text-md-end">
        <h4 class="mb-3">CONTÁCTATE CON NOSOTROS</h4>
        <div class="d-flex justify-content-center justify-content-md-end gap-3">
          <a
            href="https://www.instagram.com/granacuariomazatlan/"
            target="_blank"
            class="text-white fs-3"
          >
            <i class="bi bi-instagram"></i>
          </a>
          <a
            href="https://www.facebook.com/granacuariomazatlan"
            target="_blank"
            class="text-white fs-3"
          >
            <i class="bi bi-facebook"></i>
          </a>
          <a
            href="https://x.com/GranAcuarioMzt"
            target="_blank"
            class="text-white fs-3"
          >
            <i class="bi bi-twitter-x"></i>
          </a>
          <a
            href="https://www.youtube.com/@granacuariomazatlan"
            target="_blank"
            class="text-white fs-3"
          >
            <i class="bi bi-youtube"></i>
          </a>
          <a
            href="https://www.tiktok.com/@granacuariomazatlan"
            target="_blank"
            class="text-white fs-3"
          >
            <i class="bi bi-tiktok"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
