<main class="py-5">
  <section id="catalogo" class="container p-4 rounded-2">
    <div class="container d-flex justify-content-between align-items-center">
      <h1>Conoce las especies de Gran Acuario Mazatlán</h1>
      <button
        routerLink="/add-especie"
        class="btn btn-primary align-self-center"
      >
        Agregar Especie
      </button>
    </div>

    <div class="row justify-content-center">
      <div
        class="container d-flex justify-content-between align-items-center"
      ></div>

      <div
        *ngFor="let especie of especies"
        class="col-12 col-md-6 col-lg-4 p-0"
        style="width: 18rem"
      >
        <div class="card especie-card border-0">
          <img
            [src]="especie.imagen"
            class="card-img-top"
            alt="{{ especie.especie }}"
          />
          <div class="card-body rounded-bottom">
            <h5 class="card-title text-center">{{ especie.especie }}</h5>

            <a [routerLink]="['/especie', especie.id]" class="card-btn btn"
              >Ver detalles</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
