<div class="home-container">
  <!-- Sección de Encabezado -->
  <header
    class="text-white d-flex align-items-center justify-content-center text-center py-4"
  >
    <div class="header-text">
      <h1 class="mb-0">Bienvenido al Gran Acuario Mazatlán</h1>
      <p class="lead">
        El acuario más grande de México y más importante en Latinoamérica
      </p>
    </div>
  </header>

  <!-- Sección Principal -->
  <main class="mt-5">
    <!-- Primera Sección -->
    <section class="container text-center mb-5">
      <h2 class="mb-4">SOMOS LLENOS DE VIDA</h2>
      <div class="row g-4">
        <!-- Card 1 -->
        <div class="col-12 col-lg-4">
          <div
            class="card card-css blue-card text-center d-flex flex-column justify-content-center align-items-center p-3"
          >
            <img
              class="card-img mb-3"
              src="../../../assets/habitats.png"
              alt="Icono hábitats"
              style="max-width: 100px"
            />
            <div class="card-text">
              <h3>+ de 30 hábitats</h3>
              <p>Tendrás acceso a más de 30 maravillosos hábitats.</p>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-12 col-lg-4">
          <div
            class="card card-css green-card text-center d-flex flex-column justify-content-center align-items-center p-3"
          >
            <img
              class="card-img mb-3"
              src="../../../assets/ventana_oceanica.png"
              alt="Icono hábitats"
              style="max-width: 100px"
            />
            <div class="card-text">
              <h3>Ventana oceánica</h3>
              <p>La ventana oceánica más grande de LATAM.</p>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-12 col-lg-4">
          <div
            class="card card-css yellow-card text-center d-flex flex-column justify-content-center align-items-center p-3"
          >
            <img
              class="card-img mb-3"
              src="../../../assets/actividades.png"
              alt="Icono hábitats"
              style="max-width: 100px"
            />
            <div class="card-text">
              <h3>Actividades</h3>
              <p>Grandiosas actividades para toda la familia.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Segunda Sección -->
    <section class="segunda-seccion row align-items-center mb-5">
      <!-- Columna de Imagen -->
      <div
        class="col-12 col-lg-6 order-1 order-lg-1 text-center mb-4 mb-lg-0 p-0"
      >
        <img
          src="../../../assets/acuario-segunda-seccion.jpg"
          alt="Imagen de servicios"
          class="img-fluid rounded img-segunda-seccion"
        />
      </div>
      <!-- Columna de Texto -->
      <div
        class="col-12 col-lg-6 order-2 order-lg-2 d-flex justify-content-center"
      >
        <div class="section-text white-font px-3 px-lg-0 p-3">
          <h2 class="mb-4">
            Gran Acuario Mazatlán, es el más grande de México y más importante
            en Latinoamérica, dedicado al Mar de Cortés.
          </h2>
          <p class="mb-4">
            Con un enfoque en la educación, la investigación y divulgación del
            conocimiento, marcará un referente en los acuarios del mundo.
            Ubicado estratégicamente en el Parque Central, Gran Acuario Mazatlán
            abre todos los días.
          </p>
          <div>
            <div class="mb-3">
              <h4>Horario</h4>
              <p>
                <i class="bi bi-smartwatch text-white me-1"></i>10:00 AM - 06:00
                PM
              </p>
            </div>
            <div>
              <h4>Cierre de taquilla</h4>
              <p><i class="bi bi-smartwatch text-white me-1"></i>04:00 PM</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Video -->
    <section class="container text-center">
      <h2>DESCUBRE EL GRAN ACUARIO MAZATLÁN</h2>
      <div class="row justify-content-center mb-5">
        <div class="col-12 col-lg-6 order-1 order-lg-1 text-center mb-4 p-0">
          <!-- Video Embebido de YouTube -->
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/mADSGqmjDmM?si=3TnPIaav_JQKh4wH"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- Cuarta Sección -->
    <section class="cuarta-seccion row align-items-center">
      <!-- Columna de Texto (Card) -->
      <div class="col-12 col-lg-6 d-flex mb-lg-0">
        <div
          class="p-4 text-center d-flex justify-content-center justify-content-lg-end"
        >
          <div class="card w-75 p-3 text-white">
            <h2 class="mb-3 text-white">Planifica tu visita</h2>
            <p class="mb-4">
              Descubre la gran variedad de especies que alberga el Gran Acuario
              Mazatlán.
            </p>
            <a href="/especies" class="btn text-white align-self-center px-5"
              >Ver Especies</a
            >
          </div>
        </div>
      </div>

      <!-- Columna de Imagen -->
      <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-center">
        <img
          src="../../../assets/lobos_marinos_visita.webp"
          alt="Imagen de especies"
          class="img-fluid rounded"
        />
      </div>
    </section>
  </main>
</div>
